.scoreboard{
    background-color: #333;
    width: 700px;
    margin: 50px auto 0;
    border-radius: 15px;
    padding: 20px;
    h1{
        text-align: center;
        margin-bottom: 20px;
    }
    .actions{
        display: flex;
        justify-content: space-evenly;
        padding: 50px 0 0;
    }
}