@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,700&display=swap');

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline:none;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, em, img, q, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, figure, figcaption, footer, header, hgroup, nav, section, time, mark, audio, video, input, button, select, textarea {
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
}
